@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Changa', sans-serif;
    box-sizing: border-box;
}
.top-info
{
    text-align: center;
    margin-top: 3%;
    line-height: 1;
}

.name
{
    margin: 2%;
}
.name > span
{
    color: tomato;
}
.social
{
    line-height: 2;
    padding: 5px;
}
.social a
{
    padding: 8px;
    color: tomato;
}
.footer .social a
{
    padding: 8px;
    color: #fff;
}
.social i 
{
    font-size: 20px;
}

.mid-info
{
    display: flex;
}
.mid-info-left
{
    padding: 10px;
    margin: 1% auto;
    width: 60%;
    border: solid 1px #eee;
    box-shadow: 2px 8px 43px #ddd;
    border-radius: 10px;
}
.mid-info-left i
{
    padding: 10px;
    font-size: 18px;
}
.mid-info-left p
{
    margin: 10px;
    background: tomato;
    color: #fff;
    border-radius: 7px;
    font-weight: 600;
}

@media  (max-width: 768px) {
    .mid-info-left
    {
        padding: 10px;
        margin: 1% auto;
        width: 90%;
        border: solid 1px #eee;
        box-shadow: 2px 8px 43px #ddd;
        border-radius: 10px;
    }
}
/* SKILLS */

.skills 
{
    text-align: center;
}
.pr-skills
{
    
    margin: 4% auto;
    color: tomato;
    padding: 10px;
    box-shadow: 1px 1px 30px #ff634736;

}
.pr-skills  h1
{
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
}
.pr-skills p
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px;
    font-weight: 600;
    margin-left: 19%;
    font-size: 15px;
}
.pr-skills i
{
    padding: 10px;
}

.ide-skills
{
    text-align: center;

}
.ide-skills p
{
    display: inline-block;
    padding: 7px;
    font-weight: 600;
    font-size: 15px;
    color: tomato;
    background: #ff634738;
    border-radius: 5px;
    margin: 1% auto;
}
.ide-skills h1
{
    color: #ff634778;
}

.te-skills
{
    margin: 2% 8%;

}

.te-skills h1
{
    color: #ff634778;
}
.te-skills p
{
    display: inline-block;
    padding: 7px;
    font-weight: 600;
    font-size: 15px;
    color: tomato;
    background: #ff634738;
    border-radius: 5px;
    margin: 1% auto;

}
.int-skills
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.in-skills h1
{
    color: #ff634778;

}
.in-skills p
{
    padding: 3px 10px;
    margin: 1% auto;
    font-weight: 600;
    font-size: 15px;
    color: #F44336;
    display: flex;
    border-radius: 7px;
    position: relative;
}
.in-skills p::after
{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--bg-p-in);
    left: -3%;
    top: 39%;
    border-radius: 4px;
}
.la-skills
{
    margin: 10px auto;
    width: 80%;

}
.la-skills h1
{
    color: #ff634778;
    text-align: center;

}
.la-skill
{
    margin: 25px 0px;
}
.la-skill p 
{
    margin-bottom: 10px;
    margin-left: 3%;
    color: #F44336;
    font-size: 20px;
    font-weight: 600;
    display: flex;

}
.la-skill .pro-line
{
    position: relative;
    width: 100%;
    height: 8px;
    background: #f4433623;
    border-radius: 8px;
}
.la-skill .pro-line::before
{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 50%;
    left: calc(var(--wd) - 8px);
    transform: translateY(-50%);
    background-color: var(--bg);
    border-radius: 2px;
    animation: box-animate 2s forwards ease-out;
}
@keyframes box-animate {
    25% {
        left: 0;
    }
    100% {
        left: calc(var(--wd) - 8px);
    }
}
.la-skill span
{
    position: relative;
    display: block;
    height: 100%;
    width: var(--wd);
    background-color: var(--bg);
    border-radius: 8px ;
    animation: span-animate 2s forwards ease-out;
}
@keyframes span-animate {
    25% {
        width: 0;
    }
    100% {
        width: var(--wd);
    }
}
.la-skill span::before
{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: var(--bg);
    top: -13px;
    right: -6px;
}
.la-skill span::after
{
    position: absolute;
    content: var(--tx);
    color: #fff;
    font-weight: 600;
    top: -42px;
    right: -40px;
    background-color: var(--bg);
    padding: 0px 10px;
    border-radius: 5px;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: tomato;
    font-weight: 600;
    padding: 10px;
    font-size: 20px;
    color: #fff;
}

body.active
{
    opacity: 1;
}
